:root {
  --background: #f0f0f0;
  --foreground: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  color: var(--foreground);
  background-color: var(--background);
}
